# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
backend/logs/
*.log

# Environment variables
.env

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# IDE & System
.vscode/
.idea/
.DS_Store
